@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Roboto+Slab:wght@500&family=Source+Sans+Pro:wght@200;400;600&display=swap');

/* Fonts
Body font: Source Sans Pro
Header font: Abril Fatface
Article title font: Roboto Slab
*/

/* Colors
Body background and borders: #eee
Newspaper background: white
Newspaper box-shadow: #ddd
Front-page article text: #dd3232
Navigation links: #777
All other text (headers, body, etc): default (black)
*/

body {
    background-color: #eee;
}

.newspaper-container {
    background-color: white;
    width: 700px;
    border-radius: 25px;
    margin: auto;
    /*box-shadow*/
    /*padding*/
}

header {
    text-align: center;
}

nav {
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
}

nav a {
    color: #777;
    text-decoration: none;
}

nav ul {
    list-style-type: none;
    margin-left: 0;
}

nav ul li {
    display: inline-block;
    /* padding */
}

main h5 {
    color: #dd3232;
}

/* front-page article 
image flush with article text
*/

/* more articles
inline block and width for side by side
center in container
top border */

.more-articles section{
    border-top: 1px solid #eee;
    display: inline-block;
    width: 49%;
}