@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Roboto+Slab:wght@500&family=Source+Sans+Pro:wght@200;400;600&display=swap');

/* Colors
Body background and borders: #eee
Newspaper background: white
Newspaper box-shadow: #ddd
Front-page article text: #dd3232
Navigation links: #777
All other text (headers, body, etc): default (black)
*/

body {
    background-color: #eee;
    font-family: Source Sans Pro;
}

.newspaper-container {
    background-color: white;
    width: 700px;
    border-radius: 10px;
    margin: auto;
    box-shadow: 1px 1px 5px #ddd;
    padding: 20px;
}

header h1 {
    text-align: center;
    font-family: Abril FatFace;
    font-size: 2.5em;
    margin: 5px 15px 15px;
}

nav {
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    font-size: small;
}

nav a {
    color: #777;
    text-decoration: none;
}

nav ul {
    list-style-type: none;
    width: 100%;
    margin: auto;
}

nav ul li {
    display: inline-block;
    padding: 10px;
}

p {
    padding: 0px 10px;
}

main h5 {
    color: #dd3232;
    margin-top: -10px;
}

main img{
    width: 100%;
}

main {
    text-align: justify;
}

.more-articles, .even-more-articles {
    border-top: 1px solid #eee;
}

.more-articles section{
    display: inline-block;
    width: 45%;
    text-align: justify;
    padding: 15px;
}

.even-more-articles section{
    display: inline-block;
    width: 30%;
    text-align: justify;
    padding: 10px;
}

section img {
    width: 100%;
}

h2, h4, h5 {
    font-family: Roboto Slab;
}

main h5 {
    font-family: Abril Fatface;
}